# Caddy
CLOUDFLARE_API_TOKEN=
# Semaphore
SEMAPHORE_ADMIN_PASSWORD=
SEMAPHORE_OIDC_PROVIDERS='{ "authelia": { "display_name": "Authelia", "provider_url": "https://auth.mgt.zachneill.com", "client_id": "semaphore", "client_secret": "<hidden>", "redirect_url": "https://platform.mgt.zachneill.com/api/auth/oidc/authelia/redirect" } }'
# Authelia 
AUTHELIA_AUTHENTICATION_BACKEND_LDAP_PASSWORD=
AUTHELIA_STORAGE_ENCRYPTION_KEY=
AUTHELIA_NOTIFIER_SMTP_PASSWORD=
# Vaultwarden
SSO_CLIENT_SECRET=
ADMIN_TOKEN=