{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}
platform.mgt.zachneill.com {
	reverse_proxy https://platform.mgt.zachneill.com:3000
}
auth.mgt.zachneill.com {
	reverse_proxy https://auth.mgt.zachneill.com:9091
}