{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}
platform.mgt.zachneill.com {
	reverse_proxy semaphore:3000
}
auth.mgt.zachneill.com {
	reverse_proxy authelia:9091
}
vw.mgt.zachneill.com {
  reverse_proxy vaultwarden:8000
}
monitoring.mgt.zachneill.com {
  reverse_proxy grafana:3000
}
loki.mgt.zachneill.com {
  reverse_proxy loki:3100
}