{
	acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}
platform.aut.zachneill.com {
	reverse_proxy semaphore:3000
}
auth.aut.zachneill.com {
	reverse_proxy authelia:9091
}
vw.aut.zachneill.com {
  reverse_proxy vaultwarden:8000
}
grafana.aut.zachneill.com {
  reverse_proxy grafana:3000
}
loki.aut.zachneill.com {
  reverse_proxy loki:3100
}